.headerContainer{
    /* background-color:#dedede; */
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    /* padding-left: 80px;
    padding-right: 80px; */
    margin-top: 20px;
}

.headerContainerRightLimit{
    max-width:70vw;
    width: 60em;
}

.headerContainer div{
    display: flex;
    align-items:center;
}

.headerContainer input{
    /* background-color:#dedede; */
    border-radius: 5px;
    height: 40px;
    width:250px;
    margin-left: 40px;
    border-color: #dedede;
    border-style: solid;
    padding-left:10px
}
.headerContainer input:focus{
    outline: none;
}

.entrarButtonContainer{
    background-color:#fff;
    display:flex;
    height:55px;
    width:160px;
    left: 75vw;
    justify-content:center;
    align-items:center;
    border-radius: 5px;
    margin-right: 20px;
}

.entrarButton{
    text-align: center;
    display: flex;
    flex:1;
    height: 100%;
    justify-content:center;
    align-items: center;
    color:#FBBC05;
    font-weight: bold;
    /* background-color:white; */
}

.headerButtonOrange{
    /* background-color:#FBBC05; */
    margin-left: 50px;
}

.headerButtonOrangeText{
    color:#FBBC05;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.buttonsContainerCenter{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: red; */
}
