.container{
    height:90vh;
}


.fundo{
    background-color: #fbbc05;
    display:flex;
    position:absolute;
    z-index:-2;
    height:200vh;
    width:100vw;
    top:0;
}

.leftContentContainer{
    /* background-color:red; */
    height:50vh;
    display:flex;
    justify-content:center;
    flex-direction: column;
}

.quadradoBranco{
    background-color:white;
    height:105vh;
    width:75vw;
    position:absolute;
    z-index:-1;
    top:0;
    border-bottom-right-radius: 50px;
}

.pratoDeComidaContainer{
    /* height:33vw; */
    width:35vw;
    z-index: 1;
    /* background-color:blue; */
}
.containerHorizontal{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left:90px;
    margin-top:60px;
    /* background-color: #dedede; */
}
.padronagem1{
    position:absolute;
    right: 0;
    top: 300px;
    width: 40vw;
    z-index: 0;
}
.storeButtonsContainer{
    display: flex;
    flex-direction: row;
}
.buttonGooglePlay{
    width: 200px;
    /* background-color:red; */
    /* height:500px; */
}

.buttonAppStore{
    width: 200px;
    margin-left: 20px;
}

.titleText{
    font-size:40px;
    font-weight: bolder;
    color:#1c8676;
    margin-top: 30px;
    margin-bottom: 0px;
}

.subText{
    font-size:35px;
    font-weight: 500;
    color:#1c8676;
    margin-top: 15px;
    margin-bottom: 25px;
}


.pratoDeComidaquadradoContainer{
    width:50vw;
    z-index: 1;
    position: absolute;
    top: 75vh;
    left: -100px;
    /* background-color:blue; */
}
