.container{
    margin-top:2em;
    /* height:50vh; */
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding-top: 2em;
}

.titleTextContainer{
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.titleText{
    margin-top: 60px;
    color:#fff;
    font-size: 28px;
    font-weight: 500;
}

.listaDeCards{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    padding:  0px 40px 0px 40px;
}

.listaDeCards li{
    list-style: none;
    margin: 0px 5px 0px 5px;

}

.card{
    background-color:#e40818;
    height: 10em;
    width: 10em;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
    padding-top: 10px;
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.restaurantTitle{
    width:100%;
    text-align: left;
    color:#fff;
    margin:0;
    font-weight:300;
}